.right {
    grid-column: 6 / 7;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: repeat(3, minmax(min-content, 1fr));
    grid-template-columns: max-content;

    @media only screen and (max-width: $bp-medium) {
        display: none;
    }

    &__scroll {
        grid-row-gap: 4rem;
        display: grid;
        align-items: center;
        cursor: pointer;
        position: fixed;
        bottom: 5rem;
        right: 1rem;
        justify-self: end;
        z-index: 10;

        @media only screen and (max-width: $bp-medium) {
            display: none;
        }
        
        &__text {
            font-size: 1.2rem;
            letter-spacing: .1rem;
            transition: all .2s;
            transform: rotate(-90deg);
            line-height: 1;
        }

        &__arrow {
            transform: rotate(90deg);
            line-height: 1;
            transition: all .2s;
        }
    } 

    &__hello {
        transition: all .3s;
        color: $color-grey-light-1;
        font-size: 1.5rem;
        font-weight: 500;
        transform: rotate(-90deg);
        cursor: pointer;
        position: fixed;
        top: 7rem;
        right: 1rem;
        z-index: 10;
        text-decoration: underline;

        @media only screen and (max-width: $bp-medium) {
            display: none;
        }

        &:hover &__link {
            color: $color-primary-light;
        }
       
        &__link {
            text-decoration: none;
            color: $color-grey-light-1; 
            transition: all 1s;   
        }

    }

    // &__ribbon {
    //     grid-row: 1 / 2;
    //     position: fixed;
    //     top: 3rem;
    //     right: 0;
    //     z-index: 10;
        
    //     @media only screen and (max-width: $bp-medium) {
    //         display: none;
    //     }

    //     &__logo {
    //         max-width: 7rem;
    //         height: auto;
    //     }

    // }

}
